/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  /* #ccc is shorthand HEX for a light grey */
  background: grey;
}
#homepage {
  font-size: 30px;
  color: orange;
  font-weight: bold;
  font-family: serif;
}
#otherpage {
  font-size: 20px;
  color: green;
  font-style: italic;
  font-family: sans-serif;
}
.header {
  color: blue;
  font-size: 40px;
  font-family: helvetica;
}
